body {
  min-height: 1000px;
}

.subdash-contents {
  width: 100%;
  display: block;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: 0.2s max-height linear;
     -moz-transition: 0.2s max-height linear;
       -o-transition: 0.2s max-height linear;
          transition: 0.2s max-height linear;
}

.subdash-contents-show {
  width: 100%;
  display: block;
  overflow: hidden;
  max-height: 800px; /* TODO needs responsiveness tweak */
  -webkit-transition: 0.2s max-height linear;
     -moz-transition: 0.2s max-height linear;
       -o-transition: 0.2s max-height linear;
          transition: 0.2s max-height linear;
}

.featured-star {
  color: #ADAD00;
}

.dash-current-list {
  width: 100%;
}

.dash-current-list ul {
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #bbb;
}

.dash-current-list ul li {
  cursor: pointer;
}

.dash-current-list ul li a:hover {
  text-decoration: none;
}

.forms-area {
  max-height: 800px; /* TODO needs responsiveness tweak */
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #bbb;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.subdash-edit-form {
  display: none;
}

.subdash-section-title a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.drop-dash {
  float: right;
}

.admin-detail-container {
  width: 100%;
}

.admin-detail-label {
  font-weight: bold;
  margin-right: 15px;
}

.admin-detail-container .row {
  margin-bottom: 15px;
}

.admin-detail-dash {
  content: '';
  display: table;
  width: 100%;
}

.admin-detail-dash .admin-detail-dash-button {
  float: right;
  margin: 10px;
}

.admin-detail-dash .admin-detail-dash-button.admin-detail-dash-button-delete
span#delete-trash {
  color: #c7254e;
  cursor: pointer;
}

.admin-detail-dash .admin-detail-dash-button a {
  color: inherit;
}

.admin-detail-dash .admin-detail-dash-button button.admin-detail-dash-button-btn {
  color: inherit;
  background: none;
  border: none;
}

.popover {
}

.popover-decision-btn {
  content: '';
  display: table;
  width: 100%;
  margin: 10px 0px;
}

.popover-content {
  width: 100%;
  content: "";
  display: table;
}

.close-popover {
  float: right;
}

a.popover-x.close-popover {
  color: #aaa;
  cursor: pointer;
}

a.popover-x.close-popover:hover {
  color: #666;
  text-decoration: none;
}

