{% extends 'registration/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}


  <form class="form-signin" method="post" action="{% url 'login' %}">
    {% csrf_token %}

    {% if form.errors %}
      <div class="alert alert-danger">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Oops.</strong>
        {% for field, error_msg in form.errors.items %}
          {{ error_msg }}
        {% endfor %}
      </div>
    {% endif %}

    {% load widget_tweaks %}
    {% render_field form.username class="form-control" placeholder="Username" %}
    {% render_field form.password class="form-control" placeholder="Password" %}

    {% if next %}
      <input type="hidden" name="next" value="{{ next }}"/>
    {% endif %}

    <button class="btn btn-default btn-block" id="login-button" type="submit">
      Sign In
    </button>
  </form>

{% endblock %}
