{% extends 'registration/base.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}

  <div class="help-form-container">

    <div class="col-md-6">
      <form class="form-signin" method="post" action="{% url 'password_change' %}">
        {% csrf_token %}

        {% load widget_tweaks %}
        {% render_field form.old_password class="form-control" placeholder="Old Password" %}


        {% render_field form.new_password1 class="form-control" placeholder="New Password" %}
        {% render_field form.new_password2 class="form-control" placeholder="Confirm New Password" %}

        <button class="btn btn-default btn-block" id="login-button" type="submit">
          Change Password 
        </button>
      </form>
    </div>

    <div class="col-md-6">
      <div class="password-help-text">
        <p><span class="glyphicon glyphicon-check"></span> Your password
        can't be too similar to your other personal information.</p>
        <p><span class="glyphicon glyphicon-check"></span> Your password must
        contain at least 8 characters.</p>
        <p><span class="glyphicon glyphicon-check"></span> Your password
        can't be a commonly used password.</p>
        <p><span class="glyphicon glyphicon-check"></span> Your password
        can't be entirely numeric.</p>
      </div>
    </div>

  </div>

{% endblock %}
