{% extends 'theater/splash_base.html' %}
{% load static %}

{% block jumbotron_content %}
  <div class="jumbo-plain-title">
    <h1>Local Scene</h1>
    <p class="lead">Discover the people and places that make Seattle's theater
    scene the vibrant, thriving, convalescence of art that it is.</p>
  </div>
{% endblock %}


{% block content %}

  <div class="row">

    <div class="col-lg-6 splash-category">
      <a href="{% url 'theater:venue_index' %}">
        <img src="{% static 'base/places-square.png' %}">
        <h3>Venues</h3>
        <p class="lead">Explore the spaces in Seattle that help bring our art
        to life&mdash;from black box theatres to palatial venues.</p>
      </a>
    </div>

    <div class="col-lg-6 splash-category">
      <a href="{% url 'theater:company_index' %}">
        <img src="{% static 'base/people-square.png' %}">
        <h3>Companies</h3>
        <p class="lead">Find out more about the ecclectic and vibrant community
        that lives for the art of the stage.</p>
      </a>
    </div>

  </div>

{% endblock %}
